.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}
.content {
    display: flex;
    flex-direction: column;
    height:50px;
    width: 80;
}
h1,label,input,button,a,img {
    margin-bottom:15px;
}
h1 {
    color:blue;
    font-family: 'sans-serif';
}
img {
    width:100px;
    height:100px;
    padding-left: 30px;
}
